@import "./_variables.scss";
@import "bootstrap";
@import "./_overrides.scss";
@import "./_utilities.scss";
@import "./loaders.scss";

body{
  overscroll-behavior: none;
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--body-bg);
}

main {
  flex-grow: 1;
}

a {
  text-decoration: none;
}

input,
textarea,
select {
  &:not(:placeholder-shown) {
    &:valid {
      border: 1px solid $success;
    }
    &:invalid {
      border: 1px solid $danger;
    }
  }
}

form:invalid button[type="submit"] {
  filter: grayscale(1);
  pointer-events: none;
}

.bricks{
  columns: 1;
  &>div{
    margin-bottom: 1.5em;
  }
}

.mobile-margin{
  margin-top: 1em;
}

@media screen and (min-width: 768px) {
  .bricks{
    columns: 5;
    &>div{
      margin-bottom: 1.5em;
    }
  }

  .mobile-margin{
    margin-top: 0;
    margin-left: 1em;
  }
}

.relative{
  position: relative;
}

.absolute{
  position: absolute;
  transform: translateY(-35px);
}

.text-shadow{
  text-shadow: 1px 1px 0 black;
}

textarea{
  resize: none;
}